<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.system.mapper.SystemEmailMapper">
    
    <resultMap type="SystemEmail" id="SystemEmailResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="host"    column="host"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="sendNum"    column="send_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSystemEmailVo">
        select id, type, host, username, password, send_num, create_by, create_time, update_by, update_time, remark from system_email
    </sql>

    <select id="selectSystemEmailList" parameterType="SystemEmail" resultMap="SystemEmailResult">
        <include refid="selectSystemEmailVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="host != null  and host != ''"> and host = #{host}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="sendNum != null "> and send_num = #{sendNum}</if>
        </where>
    </select>
    
    <select id="selectSystemEmailById" parameterType="Long" resultMap="SystemEmailResult">
        <include refid="selectSystemEmailVo"/>
        where id = #{id}
    </select>

    <insert id="insertSystemEmail" parameterType="SystemEmail" useGeneratedKeys="true" keyProperty="id">
        insert into system_email
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="host != null and host != ''">host,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="sendNum != null">send_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="host != null and host != ''">#{host},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="sendNum != null">#{sendNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSystemEmail" parameterType="SystemEmail">
        update system_email
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="host != null and host != ''">host = #{host},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="sendNum != null">send_num = #{sendNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemEmailById" parameterType="Long">
        delete from system_email where id = #{id}
    </delete>

    <delete id="deleteSystemEmailByIds" parameterType="String">
        delete from system_email where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>