<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.manager.mapper.ManageWarningMapper">
    
    <resultMap type="ManageWarning" id="ManageWarningResult">
        <result property="id"    column="id"    />
        <result property="externalProfit"    column="external_profit"    />
        <result property="contractProfit"    column="contract_profit"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectManageWarningVo">
        select mw.id, mw.external_profit, mw.contract_profit, mw.create_by, mw.create_time, mw.update_by, mw.update_time, mw.remark from manage_warning mw
    </sql>

    <select id="selectManageWarningList" parameterType="ManageWarning" resultMap="ManageWarningResult">
        select mw.id,
               mw.external_profit,
               mw.contract_profit,
               mw.create_by,
               mw.create_time,
               mw.update_by,
               mw.update_time,
               mw.remark
        from manage_warning mw
        <where>  
            <if test="externalProfit != null "> and mw.external_profit = #{externalProfit}</if>
            <if test="contractProfit != null "> and mw.contract_profit = #{contractProfit}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectManageWarningById" parameterType="Long" resultMap="ManageWarningResult">
        <include refid="selectManageWarningVo"/>
        where id = #{id}
    </select>

    <insert id="insertManageWarning" parameterType="ManageWarning" useGeneratedKeys="true" keyProperty="id">
        insert into manage_warning
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="externalProfit != null">external_profit,</if>
            <if test="contractProfit != null">contract_profit,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="externalProfit != null">#{externalProfit},</if>
            <if test="contractProfit != null">#{contractProfit},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateManageWarning" parameterType="ManageWarning">
        update manage_warning
        <trim prefix="SET" suffixOverrides=",">
            <if test="externalProfit != null">external_profit = #{externalProfit},</if>
            <if test="contractProfit != null">contract_profit = #{contractProfit},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteManageWarningById" parameterType="Long">
        delete from manage_warning where id = #{id}
    </delete>

    <delete id="deleteManageWarningByIds" parameterType="String">
        delete from manage_warning where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>