<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.manager.mapper.ManageCostMapper">
    
    <resultMap type="ManageCost" id="ManageCostResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="insiderDays"    column="insider_days"    />
        <result property="insiderMonth"    column="insider_month"    />
        <result property="localPresenceDays"    column="local_presence_days"    />
        <result property="localPresenceMonth"    column="local_presence_month"    />
        <result property="remotePresenceDays"    column="remote_presence_days"    />
        <result property="remotePresenceMonth"    column="remote_presence_month"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectManageCostVo">
        select mc.id, mc.type, mc.insider_days, mc.insider_month, mc.local_presence_days, mc.local_presence_month, mc.remote_presence_days, mc.remote_presence_month,
               mc.create_by, mc.create_time, mc.update_by, mc.update_time, mc.remark from manage_cost mc
    </sql>

    <select id="selectManageCostList" parameterType="ManageCost" resultMap="ManageCostResult">
        <include refid="selectManageCostVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="insiderDays != null "> and insider_days = #{insiderDays}</if>
            <if test="insiderMonth != null "> and insider_month = #{insiderMonth}</if>
            <if test="localPresenceDays != null "> and local_presence_days = #{localPresenceDays}</if>
            <if test="localPresenceMonth != null "> and local_presence_month = #{localPresenceMonth}</if>
            <if test="remotePresenceDays != null "> and remote_presence_days = #{remotePresenceDays}</if>
            <if test="remotePresenceMonth != null "> and remote_presence_month = #{remotePresenceMonth}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectManageCostById" parameterType="Long" resultMap="ManageCostResult">
        <include refid="selectManageCostVo"/>
        where id = #{id}
    </select>

    <insert id="insertManageCost" parameterType="ManageCost" useGeneratedKeys="true" keyProperty="id">
        insert into manage_cost
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="insiderDays != null">insider_days,</if>
            <if test="insiderMonth != null">insider_month,</if>
            <if test="localPresenceDays != null">local_presence_days,</if>
            <if test="localPresenceMonth != null">local_presence_month,</if>
            <if test="remotePresenceDays != null">remote_presence_days,</if>
            <if test="remotePresenceMonth != null">remote_presence_month,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="insiderDays != null">#{insiderDays},</if>
            <if test="insiderMonth != null">#{insiderMonth},</if>
            <if test="localPresenceDays != null">#{localPresenceDays},</if>
            <if test="localPresenceMonth != null">#{localPresenceMonth},</if>
            <if test="remotePresenceDays != null">#{remotePresenceDays},</if>
            <if test="remotePresenceMonth != null">#{remotePresenceMonth},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateManageCost" parameterType="ManageCost">
        update manage_cost
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="insiderDays != null">insider_days = #{insiderDays},</if>
            <if test="insiderMonth != null">insider_month = #{insiderMonth},</if>
            <if test="localPresenceDays != null">local_presence_days = #{localPresenceDays},</if>
            <if test="localPresenceMonth != null">local_presence_month = #{localPresenceMonth},</if>
            <if test="remotePresenceDays != null">remote_presence_days = #{remotePresenceDays},</if>
            <if test="remotePresenceMonth != null">remote_presence_month = #{remotePresenceMonth},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteManageCostById" parameterType="Long">
        delete from manage_cost where id = #{id}
    </delete>

    <delete id="deleteManageCostByIds" parameterType="String">
        delete from manage_cost where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>