<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.manager.mapper.ManageHardwareExtMapper">
    
    <resultMap type="com.internal.manager.domain.ManageHardwareExt" id="ManageHardwareExtResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="category"    column="category"    />
        <result property="status"    column="status"    />
        <result property="brand"    column="brand"    />
        <result property="spec"    column="spec"    />
        <result property="unit"    column="unit"    />
        <result property="type"    column="type"    />
        <result property="rate"    column="rate"    />
        <result property="date"    column="date"    />
        <result property="deviceDescription"    column="device_description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="estimatedCost"    column="estimated_cost"    />
        <result property="externalQuote"    column="external_quote"    />
    </resultMap>

    <sql id="selectManageHardwareExtVo">
        select id, name, category, status, brand, spec, unit, type, rate, date, device_description, create_by, create_time, update_by, update_time, remark, unit_price, estimated_cost, external_quote from manage_hardware_ext
    </sql>

    <select id="selectManageHardwareExtList" parameterType="com.internal.manager.domain.ManageHardwareExt" resultMap="ManageHardwareExtResult">
        <include refid="selectManageHardwareExtVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="category != null  and category != ''"> and category like concat('%', #{category}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="brand != null  and brand != ''"> and brand like concat('%', #{brand}, '%')</if>
            <if test="spec != null  and spec != ''"> and spec like concat('%', #{spec}, '%')</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="deviceDescription != null  and deviceDescription != ''"> and device_description = #{deviceDescription}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="estimatedCost != null "> and estimated_cost = #{estimatedCost}</if>
            <if test="externalQuote != null "> and external_quote = #{externalQuote}</if>
            <if test="query != null ">
                and (name like concat('%', #{query}, '%') or category like concat('%', #{query}, '%') or brand like concat('%', #{query}, '%') or spec like concat('%', #{query}, '%'))
            </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectManageHardwareExtById" parameterType="Long" resultMap="ManageHardwareExtResult">
        <include refid="selectManageHardwareExtVo"/>
        where id = #{id}
    </select>

    <delete id="deleteManageHardwareExtById" parameterType="Long">
        delete from manage_hardware_ext where id = #{id}
    </delete>

    <delete id="deleteManageHardwareExtByIds" parameterType="String">
        delete from manage_hardware_ext where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>