<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.manager.mapper.ManagerBuGoalMapper">

    <resultMap type="ManagerBuGoal" id="ManagerBuGoalResult">
        <result property="id"    column="id"    />
        <result property="crmId"    column="crm_id"    />
        <result property="targetYear"    column="target_year"    />
        <result property="type"    column="type"    />
        <result property="indicatorTypes"    column="indicator_types"    />
        <result property="corpId"    column="corp_id"    />
        <result property="examineType"    column="examine_type"    />
        <result property="responsePerson"    column="response_person"    />
        <result property="goalValue"    column="goal_value"    />
        <result property="sportGoal"    column="sport_goal"    />
        <result property="achievementType"    column="achievement_type"    />
        <result property="beginDate"    column="begin_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectManagerBuGoalVo">
        select id, crm_id, target_year, type, indicator_types, corp_id, examine_type, response_person, goal_value, sport_goal, achievement_type, begin_date, end_date, create_by, create_time, update_by, update_time, remark from manager_bu_goal
    </sql>

    <select id="selectManagerBuGoalList" parameterType="ManagerBuGoal" resultMap="ManagerBuGoalResult">
        <include refid="selectManagerBuGoalVo"/>
        <where>
            <if test="crmId != null  and crmId != ''"> and crm_id = #{crmId}</if>
            <if test="targetYear != null  and targetYear != ''"> and target_year = #{targetYear}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="indicatorTypes != null  and indicatorTypes != ''"> and indicator_types = #{indicatorTypes}</if>
            <if test="corpId != null  and corpId != ''"> and corp_id = #{corpId}</if>
            <if test="examineType != null  and examineType != ''"> and examine_type = #{examineType}</if>
            <if test="responsePerson != null  and responsePerson != ''"> and response_person = #{responsePerson}</if>
            <if test="goalValue != null  and goalValue != ''"> and goal_value = #{goalValue}</if>
            <if test="sportGoal != null  and sportGoal != ''"> and sport_goal = #{sportGoal}</if>
            <if test="achievementType != null  and achievementType != ''"> and achievement_type = #{achievementType}</if>
            <if test="beginDate != null "> and begin_date = #{beginDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
        </where>
    </select>

    <select id="selectManagerBuGoalById" parameterType="Long" resultMap="ManagerBuGoalResult">
        <include refid="selectManagerBuGoalVo"/>
        where id = #{id}
    </select>

    <insert id="insertManagerBuGoal" parameterType="ManagerBuGoal">
        insert into manager_bu_goal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="crmId != null and crmId != ''">crm_id,</if>
            <if test="targetYear != null">target_year,</if>
            <if test="type != null">type,</if>
            <if test="indicatorTypes != null">indicator_types,</if>
            <if test="corpId != null">corp_id,</if>
            <if test="examineType != null">examine_type,</if>
            <if test="responsePerson != null">response_person,</if>
            <if test="goalValue != null">goal_value,</if>
            <if test="sportGoal != null">sport_goal,</if>
            <if test="achievementType != null">achievement_type,</if>
            <if test="beginDate != null">begin_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="crmId != null and crmId != ''">#{crmId},</if>
            <if test="targetYear != null">#{targetYear},</if>
            <if test="type != null">#{type},</if>
            <if test="indicatorTypes != null">#{indicatorTypes},</if>
            <if test="corpId != null">#{corpId},</if>
            <if test="examineType != null">#{examineType},</if>
            <if test="responsePerson != null">#{responsePerson},</if>
            <if test="goalValue != null">#{goalValue},</if>
            <if test="sportGoal != null">#{sportGoal},</if>
            <if test="achievementType != null">#{achievementType},</if>
            <if test="beginDate != null">#{beginDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateManagerBuGoal" parameterType="ManagerBuGoal">
        update manager_bu_goal
        <trim prefix="SET" suffixOverrides=",">
            <if test="crmId != null and crmId != ''">crm_id = #{crmId},</if>
            <if test="targetYear != null">target_year = #{targetYear},</if>
            <if test="type != null">type = #{type},</if>
            <if test="indicatorTypes != null">indicator_types = #{indicatorTypes},</if>
            <if test="corpId != null">corp_id = #{corpId},</if>
            <if test="examineType != null">examine_type = #{examineType},</if>
            <if test="responsePerson != null">response_person = #{responsePerson},</if>
            <if test="goalValue != null">goal_value = #{goalValue},</if>
            <if test="sportGoal != null">sport_goal = #{sportGoal},</if>
            <if test="achievementType != null">achievement_type = #{achievementType},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteManagerBuGoalById" parameterType="Long">
        delete from manager_bu_goal where id = #{id}
    </delete>

    <delete id="deleteManagerBuGoalByIds" parameterType="String">
        delete from manager_bu_goal where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
