<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.manager.mapper.ManageQuoteMapper">
    
    <resultMap type="ManageQuote" id="ManageQuoteResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="dutyRate"    column="duty_rate"    />
        <result property="profitability"    column="profitability"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectManageQuoteVo">
        select mq.id, mq.type, mq.duty_rate, mq.profitability, mq.create_by, mq.create_time, mq.update_by, mq.update_time, mq.remark from manage_quote mq
    </sql>

    <select id="selectManageQuoteList" parameterType="ManageQuote" resultMap="ManageQuoteResult">
        <include refid="selectManageQuoteVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="dutyRate != null "> and duty_rate = #{dutyRate}</if>
            <if test="profitability != null "> and profitability = #{profitability}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectManageQuoteById" parameterType="Long" resultMap="ManageQuoteResult">
        <include refid="selectManageQuoteVo"/>
        where id = #{id}
    </select>

    <insert id="insertManageQuote" parameterType="ManageQuote" useGeneratedKeys="true" keyProperty="id">
        insert into manage_quote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="dutyRate != null">duty_rate,</if>
            <if test="profitability != null">profitability,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="dutyRate != null">#{dutyRate},</if>
            <if test="profitability != null">#{profitability},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateManageQuote" parameterType="ManageQuote">
        update manage_quote
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="dutyRate != null">duty_rate = #{dutyRate},</if>
            <if test="profitability != null">profitability = #{profitability},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteManageQuoteById" parameterType="Long">
        delete from manage_quote where id = #{id}
    </delete>

    <delete id="deleteManageQuoteByIds" parameterType="String">
        delete from manage_quote where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>