<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.quote.mapper.QuoteRadioMapper">
    
    <resultMap type="com.internal.quote.domain.QuoteRadio" id="QuoteRadioResult">
        <result property="id"    column="id"    />
        <result property="opportunitiesId"    column="opportunities_id"    />
        <result property="costId"    column="cost_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="radio"    column="radio"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="supportCrmId"    column="support_crm_id"    />
        <result property="supportPerson"    column="support_person"    />
    </resultMap>

    <sql id="selectQuoteRadioVo">
        select id, opportunities_id, cost_id, dept_id, radio, create_by, create_time, update_by, update_time, remark, support_crm_id,support_person from quote_radio
    </sql>

    <select id="selectQuoteRadioList" parameterType="com.internal.quote.domain.QuoteRadio" resultMap="QuoteRadioResult">
        <include refid="selectQuoteRadioVo"/>
        <where>  
            <if test="opportunitiesId != null "> and opportunities_id = #{opportunitiesId}</if>
            <if test="costId != null "> and cost_id = #{costId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="radio != null "> and radio = #{radio}</if>
            <if test="supportCrmId != null  and supportCrmId != ''"> and support_crm_id = #{supportCrmId}</if>
        </where>
    </select>
    
    <select id="selectQuoteRadioById" parameterType="Long" resultMap="QuoteRadioResult">
        <include refid="selectQuoteRadioVo"/>
        where id = #{id}
    </select>

    <delete id="deleteQuoteRadioById" parameterType="Long">
        delete from quote_radio where id = #{id}
    </delete>

    <delete id="deleteQuoteRadioByIds" parameterType="String">
        delete from quote_radio where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>