<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.quote.mapper.QuoteOpportunitiesExternalMapper">
    
    <resultMap type="com.internal.quote.domain.QuoteOpportunitiesExternal" id="QuoteOpportunitiesExternalResult">
        <result property="id"    column="id"    />
        <result property="opportunitiesId"    column="opportunities_id"    />
        <result property="opportunitiesDetailId"    column="opportunities_detail_id"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="name"    column="name"    />
        <result property="unit"    column="unit"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="number"    column="number"    />
        <result property="purchaseInquiry"    column="purchase_inquiry"    />
        <result property="type"    column="type"    />
        <result property="rate"    column="rate"    />
        <result property="estimatedCost"    column="estimated_cost"    />
        <result property="externalQuote"    column="external_quote"    />
        <result property="settingParam"    column="setting_param"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="hardwareId"    column="hardware_id"    />
    </resultMap>

    <sql id="selectQuoteOpportunitiesExternalVo">
        select id,opportunities_id, opportunities_detail_id, serial_number, name, unit, unit_price, number, purchase_inquiry, type, rate, estimated_cost, external_quote, setting_param, create_by, create_time, update_by, update_time, remark, hardware_id from quote_opportunities_external
    </sql>

    <select id="selectQuoteOpportunitiesExternalList" parameterType="com.internal.quote.domain.QuoteOpportunitiesExternal" resultMap="QuoteOpportunitiesExternalResult">
        <include refid="selectQuoteOpportunitiesExternalVo"/>
        <where>  
            <if test="opportunitiesDetailId != null "> and opportunities_detail_id = #{opportunitiesDetailId}</if>
            <if test="serialNumber != null  and serialNumber != ''"> and serial_number = #{serialNumber}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="purchaseInquiry != null "> and purchase_inquiry = #{purchaseInquiry}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="estimatedCost != null "> and estimated_cost = #{estimatedCost}</if>
            <if test="externalQuote != null "> and external_quote = #{externalQuote}</if>
            <if test="settingParam != null  and settingParam != ''"> and setting_param = #{settingParam}</if>
        </where>
    </select>
    
    <select id="selectQuoteOpportunitiesExternalById" parameterType="Long" resultMap="QuoteOpportunitiesExternalResult">
        <include refid="selectQuoteOpportunitiesExternalVo"/>
        where id = #{id}
    </select>

    <insert id="insertBatchDetail" parameterType="java.util.List">
        INSERT INTO quote_opportunities_external
        (id,opportunities_detail_id,serial_number,name,unit,unit_price,number,purchase_inquiry,
         type,rate,estimated_cost,external_quote,setting_param,create_by,create_time,update_by,update_time,remark,hardware_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.opportunitiesDetailId},#{item.serialNumber},#{item.name},#{item.unit},#{item.unitPrice},#{item.number},#{item.purchaseInquiry},
             #{item.type},#{item.rate},#{item.estimatedCost},#{item.externalQuote},#{item.settingParam},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark},#{item.hardwareId})
        </foreach>
    </insert>

    <delete id="deleteQuoteOpportunitiesExternalById" parameterType="Long">
        delete from quote_opportunities_external where id = #{id}
    </delete>

    <delete id="deleteQuoteOpportunitiesExternalByIds" parameterType="String">
        delete from quote_opportunities_external where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>