<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.quote.mapper.QuoteOpportunitiesCustomizableMapper">
    
    <resultMap type="QuoteOpportunitiesCustomizable" id="QuoteOpportunitiesCustomizableResult">
        <result property="id"    column="id"    />
        <result property="opportunitiesId"    column="opportunities_id"    />
        <result property="opportunitiesDetailId"    column="opportunities_detail_id"    />
        <result property="moduleName"    column="module_name"    />
        <result property="subModuleName"    column="sub_module_name"    />
        <result property="description"    column="description"    />
        <result property="demandInternalWorkload"    column="demand_internal_workload"    />
        <result property="demandInternalUnit"    column="demand_internal_unit"    />
        <result property="demandLocalWorkload"    column="demand_local_workload"    />
        <result property="demandExternalWorkload"    column="demand_external_workload"    />
        <result property="demandExternalUnit"    column="demand_external_unit"    />
        <result property="devInternalWorkload"    column="dev_internal_workload"    />
        <result property="devInternalUnit"    column="dev_internal_unit"    />
        <result property="devLocalWorkload"    column="dev_local_workload"    />
        <result property="devExternalWorkload"    column="dev_external_workload"    />
        <result property="devExternalUnit"    column="dev_external_unit"    />
        <result property="testInternalWorkload"    column="test_internal_workload"    />
        <result property="testInternalUnit"    column="test_internal_unit"    />
        <result property="testLocalWorkload"    column="test_local_workload"    />
        <result property="testExternalWorkload"    column="test_external_workload"    />
        <result property="testExternalUnit"    column="test_external_unit"    />
        <result property="uiInternalWorkload"    column="ui_internal_workload"    />
        <result property="uiInternalUnit"    column="ui_internal_unit"    />
        <result property="uiLocalWorkload"    column="ui_local_workload"    />
        <result property="uiExternalWorkload"    column="ui_external_workload"    />
        <result property="uiExternalUnit"    column="ui_external_unit"    />
        <result property="pmInternalWorkload"    column="pm_internal_workload"    />
        <result property="pmInternalUnit"    column="pm_internal_unit"    />
        <result property="pmLocalWorkload"    column="pm_local_workload"    />
        <result property="pmExternalWorkload"    column="pm_external_workload"    />
        <result property="pmExternalUnit"    column="pm_external_unit"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectQuoteOpportunitiesCustomizableVo">
        select id, opportunities_id,opportunities_detail_id, module_name, sub_module_name, description, demand_internal_workload, demand_internal_unit, demand_local_workload, demand_external_workload, demand_external_unit, dev_internal_workload, dev_internal_unit, dev_local_workload, dev_external_workload, dev_external_unit, test_internal_workload, test_internal_unit, test_local_workload, test_external_workload, test_external_unit, ui_internal_workload, ui_internal_unit, ui_local_workload, ui_external_workload, ui_external_unit, pm_internal_workload, pm_internal_unit, pm_local_workload, pm_external_workload, pm_external_unit, create_by, create_time, update_by, update_time, remark from quote_opportunities_customizable
    </sql>

    <select id="selectQuoteOpportunitiesCustomizableList" parameterType="QuoteOpportunitiesCustomizable" resultMap="QuoteOpportunitiesCustomizableResult">
        <include refid="selectQuoteOpportunitiesCustomizableVo"/>
        <where>  
            <if test="opportunitiesDetailId != null "> and opportunities_detail_id = #{opportunitiesDetailId}</if>
            <if test="moduleName != null  and moduleName != ''"> and module_name like concat('%', #{moduleName}, '%')</if>
            <if test="subModuleName != null  and subModuleName != ''"> and sub_module_name like concat('%', #{subModuleName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="demandInternalWorkload != null "> and demand_internal_workload = #{demandInternalWorkload}</if>
            <if test="demandInternalUnit != null  and demandInternalUnit != ''"> and demand_internal_unit = #{demandInternalUnit}</if>
            <if test="demandLocalWorkload != null "> and demand_local_workload = #{demandLocalWorkload}</if>
            <if test="demandExternalWorkload != null "> and demand_external_workload = #{demandExternalWorkload}</if>
            <if test="demandExternalUnit != null  and demandExternalUnit != ''"> and demand_external_unit = #{demandExternalUnit}</if>
            <if test="devInternalWorkload != null "> and dev_internal_workload = #{devInternalWorkload}</if>
            <if test="devInternalUnit != null  and devInternalUnit != ''"> and dev_internal_unit = #{devInternalUnit}</if>
            <if test="devLocalWorkload != null "> and dev_local_workload = #{devLocalWorkload}</if>
            <if test="devExternalWorkload != null "> and dev_external_workload = #{devExternalWorkload}</if>
            <if test="devExternalUnit != null  and devExternalUnit != ''"> and dev_external_unit = #{devExternalUnit}</if>
            <if test="testInternalWorkload != null "> and test_internal_workload = #{testInternalWorkload}</if>
            <if test="testInternalUnit != null  and testInternalUnit != ''"> and test_internal_unit = #{testInternalUnit}</if>
            <if test="testLocalWorkload != null "> and test_local_workload = #{testLocalWorkload}</if>
            <if test="testExternalWorkload != null "> and test_external_workload = #{testExternalWorkload}</if>
            <if test="testExternalUnit != null  and testExternalUnit != ''"> and test_external_unit = #{testExternalUnit}</if>
            <if test="uiInternalWorkload != null "> and ui_internal_workload = #{uiInternalWorkload}</if>
            <if test="uiInternalUnit != null  and uiInternalUnit != ''"> and ui_internal_unit = #{uiInternalUnit}</if>
            <if test="uiLocalWorkload != null "> and ui_local_workload = #{uiLocalWorkload}</if>
            <if test="uiExternalWorkload != null "> and ui_external_workload = #{uiExternalWorkload}</if>
            <if test="uiExternalUnit != null  and uiExternalUnit != ''"> and ui_external_unit = #{uiExternalUnit}</if>
            <if test="pmInternalWorkload != null "> and pm_internal_workload = #{pmInternalWorkload}</if>
            <if test="pmInternalUnit != null  and pmInternalUnit != ''"> and pm_internal_unit = #{pmInternalUnit}</if>
            <if test="pmLocalWorkload != null "> and pm_local_workload = #{pmLocalWorkload}</if>
            <if test="pmExternalWorkload != null "> and pm_external_workload = #{pmExternalWorkload}</if>
            <if test="pmExternalUnit != null  and pmExternalUnit != ''"> and pm_external_unit = #{pmExternalUnit}</if>
        </where>
    </select>
    
    <select id="selectQuoteOpportunitiesCustomizableById" parameterType="Long" resultMap="QuoteOpportunitiesCustomizableResult">
        <include refid="selectQuoteOpportunitiesCustomizableVo"/>
        where id = #{id}
    </select>

    <insert id="insertQuoteOpportunitiesCustomizable" parameterType="QuoteOpportunitiesCustomizable" useGeneratedKeys="true" keyProperty="id">
        insert into quote_opportunities_customizable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opportunitiesDetailId != null">opportunities_detail_id,</if>
            <if test="moduleName != null and moduleName != ''">module_name,</if>
            <if test="subModuleName != null and subModuleName != ''">sub_module_name,</if>
            <if test="description != null">description,</if>
            <if test="demandInternalWorkload != null">demand_internal_workload,</if>
            <if test="demandInternalUnit != null">demand_internal_unit,</if>
            <if test="demandLocalWorkload != null">demand_local_workload,</if>
            <if test="demandExternalWorkload != null">demand_external_workload,</if>
            <if test="demandExternalUnit != null">demand_external_unit,</if>
            <if test="devInternalWorkload != null">dev_internal_workload,</if>
            <if test="devInternalUnit != null">dev_internal_unit,</if>
            <if test="devLocalWorkload != null">dev_local_workload,</if>
            <if test="devExternalWorkload != null">dev_external_workload,</if>
            <if test="devExternalUnit != null">dev_external_unit,</if>
            <if test="testInternalWorkload != null">test_internal_workload,</if>
            <if test="testInternalUnit != null">test_internal_unit,</if>
            <if test="testLocalWorkload != null">test_local_workload,</if>
            <if test="testExternalWorkload != null">test_external_workload,</if>
            <if test="testExternalUnit != null">test_external_unit,</if>
            <if test="uiInternalWorkload != null">ui_internal_workload,</if>
            <if test="uiInternalUnit != null">ui_internal_unit,</if>
            <if test="uiLocalWorkload != null">ui_local_workload,</if>
            <if test="uiExternalWorkload != null">ui_external_workload,</if>
            <if test="uiExternalUnit != null">ui_external_unit,</if>
            <if test="pmInternalWorkload != null">pm_internal_workload,</if>
            <if test="pmInternalUnit != null">pm_internal_unit,</if>
            <if test="pmLocalWorkload != null">pm_local_workload,</if>
            <if test="pmExternalWorkload != null">pm_external_workload,</if>
            <if test="pmExternalUnit != null">pm_external_unit,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opportunitiesDetailId != null">#{opportunitiesDetailId},</if>
            <if test="moduleName != null and moduleName != ''">#{moduleName},</if>
            <if test="subModuleName != null and subModuleName != ''">#{subModuleName},</if>
            <if test="description != null">#{description},</if>
            <if test="demandInternalWorkload != null">#{demandInternalWorkload},</if>
            <if test="demandInternalUnit != null">#{demandInternalUnit},</if>
            <if test="demandLocalWorkload != null">#{demandLocalWorkload},</if>
            <if test="demandExternalWorkload != null">#{demandExternalWorkload},</if>
            <if test="demandExternalUnit != null">#{demandExternalUnit},</if>
            <if test="devInternalWorkload != null">#{devInternalWorkload},</if>
            <if test="devInternalUnit != null">#{devInternalUnit},</if>
            <if test="devLocalWorkload != null">#{devLocalWorkload},</if>
            <if test="devExternalWorkload != null">#{devExternalWorkload},</if>
            <if test="devExternalUnit != null">#{devExternalUnit},</if>
            <if test="testInternalWorkload != null">#{testInternalWorkload},</if>
            <if test="testInternalUnit != null">#{testInternalUnit},</if>
            <if test="testLocalWorkload != null">#{testLocalWorkload},</if>
            <if test="testExternalWorkload != null">#{testExternalWorkload},</if>
            <if test="testExternalUnit != null">#{testExternalUnit},</if>
            <if test="uiInternalWorkload != null">#{uiInternalWorkload},</if>
            <if test="uiInternalUnit != null">#{uiInternalUnit},</if>
            <if test="uiLocalWorkload != null">#{uiLocalWorkload},</if>
            <if test="uiExternalWorkload != null">#{uiExternalWorkload},</if>
            <if test="uiExternalUnit != null">#{uiExternalUnit},</if>
            <if test="pmInternalWorkload != null">#{pmInternalWorkload},</if>
            <if test="pmInternalUnit != null">#{pmInternalUnit},</if>
            <if test="pmLocalWorkload != null">#{pmLocalWorkload},</if>
            <if test="pmExternalWorkload != null">#{pmExternalWorkload},</if>
            <if test="pmExternalUnit != null">#{pmExternalUnit},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>
    <insert id="insertBatchDetail" parameterType="java.util.List">
        INSERT INTO quote_opportunities_custom
            izable
        (id, opportunities_detail_id, module_name, sub_module_name, description, demand_internal_workload, demand_internal_unit, demand_local_workload,
         demand_external_workload, demand_external_unit, dev_internal_workload, dev_internal_unit, dev_local_workload, dev_external_workload, dev_external_unit,
         test_internal_workload, test_internal_unit, test_local_workload, test_external_workload, test_external_unit, ui_internal_workload, ui_internal_unit, ui_local_workload,
         ui_external_workload, ui_external_unit, pm_internal_workload, pm_internal_unit, pm_local_workload, pm_external_workload, pm_external_unit, create_by, create_time,
         update_by, update_time, remark)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.opportunitiesDetailId}, #{item.moduleName}, #{item.subModuleName}, #{item.description}, #{item.demandInternalWorkload}, #{item.demandInternalUnit},
            #{item.demandLocalWorkload}, #{item.demandExternalWorkload}, #{item.demandExternalUnit}, #{item.devInternalWorkload}, #{item.devInternalUnit}, #{item.devLocalWorkload},
             #{item.devExternalWorkload}, #{item.devExternalUnit}, #{item.testInternalWorkload}, #{item.testInternalUnit}, #{item.testLocalWorkload}, #{item.testExternalWorkload},
             #{item.testExternalUnit}, #{item.uiInternalWorkload}, #{item.uiInternalUnit}, #{item.uiLocalWorkload}, #{item.uiExternalWorkload}, #{item.uiExternalUnit},
             #{item.pmInternalWorkload}, #{item.pmInternalUnit}, #{item.pmLocalWorkload},#{item.pmExternalWorkload}, #{item.pmExternalUnit}, #{createBy}, #{createTime},
             #{updateBy}, #{updateTime}, #{remark})
        </foreach>
    </insert>

    <update id="updateQuoteOpportunitiesCustomizable" parameterType="QuoteOpportunitiesCustomizable">
        update quote_opportunities_customizable
        <trim prefix="SET" suffixOverrides=",">
            <if test="opportunitiesDetailId != null">opportunities_detail_id = #{opportunitiesDetailId},</if>
            <if test="moduleName != null and moduleName != ''">module_name = #{moduleName},</if>
            <if test="subModuleName != null and subModuleName != ''">sub_module_name = #{subModuleName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="demandInternalWorkload != null">demand_internal_workload = #{demandInternalWorkload},</if>
            <if test="demandInternalUnit != null">demand_internal_unit = #{demandInternalUnit},</if>
            <if test="demandLocalWorkload != null">demand_local_workload = #{demandLocalWorkload},</if>
            <if test="demandExternalWorkload != null">demand_external_workload = #{demandExternalWorkload},</if>
            <if test="demandExternalUnit != null">demand_external_unit = #{demandExternalUnit},</if>
            <if test="devInternalWorkload != null">dev_internal_workload = #{devInternalWorkload},</if>
            <if test="devInternalUnit != null">dev_internal_unit = #{devInternalUnit},</if>
            <if test="devLocalWorkload != null">dev_local_workload = #{devLocalWorkload},</if>
            <if test="devExternalWorkload != null">dev_external_workload = #{devExternalWorkload},</if>
            <if test="devExternalUnit != null">dev_external_unit = #{devExternalUnit},</if>
            <if test="testInternalWorkload != null">test_internal_workload = #{testInternalWorkload},</if>
            <if test="testInternalUnit != null">test_internal_unit = #{testInternalUnit},</if>
            <if test="testLocalWorkload != null">test_local_workload = #{testLocalWorkload},</if>
            <if test="testExternalWorkload != null">test_external_workload = #{testExternalWorkload},</if>
            <if test="testExternalUnit != null">test_external_unit = #{testExternalUnit},</if>
            <if test="uiInternalWorkload != null">ui_internal_workload = #{uiInternalWorkload},</if>
            <if test="uiInternalUnit != null">ui_internal_unit = #{uiInternalUnit},</if>
            <if test="uiLocalWorkload != null">ui_local_workload = #{uiLocalWorkload},</if>
            <if test="uiExternalWorkload != null">ui_external_workload = #{uiExternalWorkload},</if>
            <if test="uiExternalUnit != null">ui_external_unit = #{uiExternalUnit},</if>
            <if test="pmInternalWorkload != null">pm_internal_workload = #{pmInternalWorkload},</if>
            <if test="pmInternalUnit != null">pm_internal_unit = #{pmInternalUnit},</if>
            <if test="pmLocalWorkload != null">pm_local_workload = #{pmLocalWorkload},</if>
            <if test="pmExternalWorkload != null">pm_external_workload = #{pmExternalWorkload},</if>
            <if test="pmExternalUnit != null">pm_external_unit = #{pmExternalUnit},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuoteOpportunitiesCustomizableById" parameterType="Long">
        delete from quote_opportunities_customizable where id = #{id}
    </delete>

    <delete id="deleteQuoteOpportunitiesCustomizableByIds" parameterType="String">
        delete from quote_opportunities_customizable where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>