<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.quote.mapper.QuoteSignInfoMapper">
    
    <resultMap type="com.internal.quote.domain.QuoteSignInfo" id="QuoteSignInfoResult">
        <result property="id"    column="id"    />
        <result property="opportunitiesId"    column="opportunities_id"    />
        <result property="opportunitiesParentId"    column="opportunities_parent_id"    />
        <result property="contractType"    column="contract_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="planStartTime"    column="plan_start_time"    />
        <result property="planEndTime"    column="plan_end_time"    />
        <result property="signDesc"    column="sign_desc"    />
        <result property="xxVsCust"    column="xx_vs_cust"    />
        <result property="xxVsNl"    column="xx_vs_nl"    />
        <result property="nlVsCust"    column="nl_vs_cust"    />
        <result property="signAuditDesc"    column="sign_audit_desc"    />
        <result property="northAmount"    column="north_amount"    />
        <result property="northQuoteAmount"    column="north_quote_amount"    />
        <result property="softWareExtQuote"    column="soft_ware_ext_quote"    />
        <result property="softWareExtIncome"    column="soft_ware_ext_income"    />
        <result property="prodExtQuote"    column="prod_ext_quote"    />
        <result property="prodExtIncome"    column="prod_ext_income"    />
        <result property="selfExtQuote"    column="self_ext_quote"    />
        <result property="selfExtIncome"    column="self_ext_income"    />
        <result property="impExtQuote"    column="imp_ext_quote"    />
        <result property="impExtIncome"    column="imp_ext_income"    />
        <result property="otherExtQuote"    column="other_ext_quote"    />
        <result property="otherExtIncome"    column="other_ext_income"    />
        <result property="extExtQuote"    column="ext_ext_quote"    />
        <result property="extExtIncome"    column="ext_ext_income"    />
        <result property="totalExtIncome"    column="total_ext_income"    />
        <result property="laborPrice"    column="labor_price"    />
        <result property="prodPrice"    column="prod_price"    />
        <result property="selfPrice"    column="self_price"    />
        <result property="impPrice"    column="imp_price"    />
        <result property="otherPrice"    column="other_price"    />
        <result property="extPrice"    column="ext_price"    />
        <result property="totalCost"    column="total_cost"    />
        <result property="totalProfit"    column="total_profit"    />
        <result property="extProfit"    column="ext_profit"    />
        <result property="costProfitRate"    column="cost_profit_rate"    />
        <result property="extProfitRate"    column="ext_profit_rate"    />
        <result property="totalCostProfitRate"    column="total_cost_profit_rate"    />
    </resultMap>

    <sql id="selectQuoteSignInfoVo">
        select id, opportunities_id, opportunities_parent_id, contract_type, status, create_by, create_time, update_by, update_time, remark, plan_start_time, plan_end_time, sign_desc, xx_vs_cust, xx_vs_nl, nl_vs_cust, sign_audit_desc, north_amount, north_quote_amount, soft_ware_ext_quote, soft_ware_ext_income, prod_ext_quote, prod_ext_income, self_ext_quote, self_ext_income, imp_ext_quote, imp_ext_income, other_ext_quote, other_ext_income, ext_ext_quote, ext_ext_income, total_ext_income, labor_price, prod_price, self_price, imp_price, other_price, ext_price, total_cost, total_profit, ext_profit, cost_profit_rate, ext_profit_rate, total_cost_profit_rate from quote_sign_info
    </sql>

    <select id="selectQuoteSignInfoList" parameterType="com.internal.quote.domain.QuoteSignInfo" resultMap="QuoteSignInfoResult">
        <include refid="selectQuoteSignInfoVo"/>
        <where>  
            <if test="opportunitiesId != null "> and opportunities_id = #{opportunitiesId}</if>
            <if test="opportunitiesParentId != null "> and opportunities_parent_id = #{opportunitiesParentId}</if>
            <if test="contractType != null  and contractType != ''"> and contract_type = #{contractType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="planStartTime != null "> and plan_start_time = #{planStartTime}</if>
            <if test="planEndTime != null "> and plan_end_time = #{planEndTime}</if>
            <if test="signDesc != null  and signDesc != ''"> and sign_desc = #{signDesc}</if>
            <if test="xxVsCust != null "> and xx_vs_cust = #{xxVsCust}</if>
            <if test="xxVsNl != null "> and xx_vs_nl = #{xxVsNl}</if>
            <if test="nlVsCust != null "> and nl_vs_cust = #{nlVsCust}</if>
            <if test="signAuditDesc != null  and signAuditDesc != ''"> and sign_audit_desc = #{signAuditDesc}</if>
            <if test="northAmount != null "> and north_amount = #{northAmount}</if>
            <if test="northQuoteAmount != null "> and north_quote_amount = #{northQuoteAmount}</if>
            <if test="softWareExtQuote != null "> and soft_ware_ext_quote = #{softWareExtQuote}</if>
            <if test="softWareExtIncome != null "> and soft_ware_ext_income = #{softWareExtIncome}</if>
            <if test="prodExtQuote != null "> and prod_ext_quote = #{prodExtQuote}</if>
            <if test="prodExtIncome != null "> and prod_ext_income = #{prodExtIncome}</if>
            <if test="selfExtQuote != null "> and self_ext_quote = #{selfExtQuote}</if>
            <if test="selfExtIncome != null "> and self_ext_income = #{selfExtIncome}</if>
            <if test="impExtQuote != null "> and imp_ext_quote = #{impExtQuote}</if>
            <if test="impExtIncome != null "> and imp_ext_income = #{impExtIncome}</if>
            <if test="otherExtQuote != null "> and other_ext_quote = #{otherExtQuote}</if>
            <if test="otherExtIncome != null "> and other_ext_income = #{otherExtIncome}</if>
            <if test="extExtQuote != null "> and ext_ext_quote = #{extExtQuote}</if>
            <if test="extExtIncome != null "> and ext_ext_income = #{extExtIncome}</if>
            <if test="totalExtIncome != null "> and total_ext_income = #{totalExtIncome}</if>
            <if test="laborPrice != null "> and labor_price = #{laborPrice}</if>
            <if test="prodPrice != null "> and prod_price = #{prodPrice}</if>
            <if test="selfPrice != null "> and self_price = #{selfPrice}</if>
            <if test="impPrice != null "> and imp_price = #{impPrice}</if>
            <if test="otherPrice != null "> and other_price = #{otherPrice}</if>
            <if test="extPrice != null "> and ext_price = #{extPrice}</if>
            <if test="totalCost != null "> and total_cost = #{totalCost}</if>
            <if test="totalProfit != null "> and total_profit = #{totalProfit}</if>
            <if test="extProfit != null "> and ext_profit = #{extProfit}</if>
            <if test="costProfitRate != null "> and cost_profit_rate = #{costProfitRate}</if>
            <if test="extProfitRate != null "> and ext_profit_rate = #{extProfitRate}</if>
            <if test="totalCostProfitRate != null "> and total_cost_profit_rate = #{totalCostProfitRate}</if>
        </where>
    </select>
    
    <select id="selectQuoteSignInfoById" parameterType="Long" resultMap="QuoteSignInfoResult">
        <include refid="selectQuoteSignInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertQuoteSignInfo" parameterType="com.internal.quote.domain.QuoteSignInfo" useGeneratedKeys="true" keyProperty="id">
        insert into quote_sign_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opportunitiesId != null">opportunities_id,</if>
            <if test="opportunitiesParentId != null">opportunities_parent_id,</if>
            <if test="contractType != null and contractType != ''">contract_type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="planStartTime != null">plan_start_time,</if>
            <if test="planEndTime != null">plan_end_time,</if>
            <if test="signDesc != null">sign_desc,</if>
            <if test="xxVsCust != null">xx_vs_cust,</if>
            <if test="xxVsNl != null">xx_vs_nl,</if>
            <if test="nlVsCust != null">nl_vs_cust,</if>
            <if test="signAuditDesc != null">sign_audit_desc,</if>
            <if test="northAmount != null">north_amount,</if>
            <if test="northQuoteAmount != null">north_quote_amount,</if>
            <if test="softWareExtQuote != null">soft_ware_ext_quote,</if>
            <if test="softWareExtIncome != null">soft_ware_ext_income,</if>
            <if test="prodExtQuote != null">prod_ext_quote,</if>
            <if test="prodExtIncome != null">prod_ext_income,</if>
            <if test="selfExtQuote != null">self_ext_quote,</if>
            <if test="selfExtIncome != null">self_ext_income,</if>
            <if test="impExtQuote != null">imp_ext_quote,</if>
            <if test="impExtIncome != null">imp_ext_income,</if>
            <if test="otherExtQuote != null">other_ext_quote,</if>
            <if test="otherExtIncome != null">other_ext_income,</if>
            <if test="extExtQuote != null">ext_ext_quote,</if>
            <if test="extExtIncome != null">ext_ext_income,</if>
            <if test="totalExtIncome != null">total_ext_income,</if>
            <if test="laborPrice != null">labor_price,</if>
            <if test="prodPrice != null">prod_price,</if>
            <if test="selfPrice != null">self_price,</if>
            <if test="impPrice != null">imp_price,</if>
            <if test="otherPrice != null">other_price,</if>
            <if test="extPrice != null">ext_price,</if>
            <if test="totalCost != null">total_cost,</if>
            <if test="totalProfit != null">total_profit,</if>
            <if test="extProfit != null">ext_profit,</if>
            <if test="costProfitRate != null">cost_profit_rate,</if>
            <if test="extProfitRate != null">ext_profit_rate,</if>
            <if test="totalCostProfitRate != null">total_cost_profit_rate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opportunitiesId != null">#{opportunitiesId},</if>
            <if test="opportunitiesParentId != null">#{opportunitiesParentId},</if>
            <if test="contractType != null and contractType != ''">#{contractType},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="planStartTime != null">#{planStartTime},</if>
            <if test="planEndTime != null">#{planEndTime},</if>
            <if test="signDesc != null">#{signDesc},</if>
            <if test="xxVsCust != null">#{xxVsCust},</if>
            <if test="xxVsNl != null">#{xxVsNl},</if>
            <if test="nlVsCust != null">#{nlVsCust},</if>
            <if test="signAuditDesc != null">#{signAuditDesc},</if>
            <if test="northAmount != null">#{northAmount},</if>
            <if test="northQuoteAmount != null">#{northQuoteAmount},</if>
            <if test="softWareExtQuote != null">#{softWareExtQuote},</if>
            <if test="softWareExtIncome != null">#{softWareExtIncome},</if>
            <if test="prodExtQuote != null">#{prodExtQuote},</if>
            <if test="prodExtIncome != null">#{prodExtIncome},</if>
            <if test="selfExtQuote != null">#{selfExtQuote},</if>
            <if test="selfExtIncome != null">#{selfExtIncome},</if>
            <if test="impExtQuote != null">#{impExtQuote},</if>
            <if test="impExtIncome != null">#{impExtIncome},</if>
            <if test="otherExtQuote != null">#{otherExtQuote},</if>
            <if test="otherExtIncome != null">#{otherExtIncome},</if>
            <if test="extExtQuote != null">#{extExtQuote},</if>
            <if test="extExtIncome != null">#{extExtIncome},</if>
            <if test="totalExtIncome != null">#{totalExtIncome},</if>
            <if test="laborPrice != null">#{laborPrice},</if>
            <if test="prodPrice != null">#{prodPrice},</if>
            <if test="selfPrice != null">#{selfPrice},</if>
            <if test="impPrice != null">#{impPrice},</if>
            <if test="otherPrice != null">#{otherPrice},</if>
            <if test="extPrice != null">#{extPrice},</if>
            <if test="totalCost != null">#{totalCost},</if>
            <if test="totalProfit != null">#{totalProfit},</if>
            <if test="extProfit != null">#{extProfit},</if>
            <if test="costProfitRate != null">#{costProfitRate},</if>
            <if test="extProfitRate != null">#{extProfitRate},</if>
            <if test="totalCostProfitRate != null">#{totalCostProfitRate},</if>
         </trim>
    </insert>

    <update id="updateQuoteSignInfo" parameterType="com.internal.quote.domain.QuoteSignInfo">
        update quote_sign_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="opportunitiesId != null">opportunities_id = #{opportunitiesId},</if>
            <if test="opportunitiesParentId != null">opportunities_parent_id = #{opportunitiesParentId},</if>
            <if test="contractType != null and contractType != ''">contract_type = #{contractType},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="planStartTime != null">plan_start_time = #{planStartTime},</if>
            <if test="planEndTime != null">plan_end_time = #{planEndTime},</if>
            <if test="signDesc != null">sign_desc = #{signDesc},</if>
            <if test="xxVsCust != null">xx_vs_cust = #{xxVsCust},</if>
            <if test="xxVsNl != null">xx_vs_nl = #{xxVsNl},</if>
            <if test="nlVsCust != null">nl_vs_cust = #{nlVsCust},</if>
            <if test="signAuditDesc != null">sign_audit_desc = #{signAuditDesc},</if>
            <if test="northAmount != null">north_amount = #{northAmount},</if>
            <if test="northQuoteAmount != null">north_quote_amount = #{northQuoteAmount},</if>
            <if test="softWareExtQuote != null">soft_ware_ext_quote = #{softWareExtQuote},</if>
            <if test="softWareExtIncome != null">soft_ware_ext_income = #{softWareExtIncome},</if>
            <if test="prodExtQuote != null">prod_ext_quote = #{prodExtQuote},</if>
            <if test="prodExtIncome != null">prod_ext_income = #{prodExtIncome},</if>
            <if test="selfExtQuote != null">self_ext_quote = #{selfExtQuote},</if>
            <if test="selfExtIncome != null">self_ext_income = #{selfExtIncome},</if>
            <if test="impExtQuote != null">imp_ext_quote = #{impExtQuote},</if>
            <if test="impExtIncome != null">imp_ext_income = #{impExtIncome},</if>
            <if test="otherExtQuote != null">other_ext_quote = #{otherExtQuote},</if>
            <if test="otherExtIncome != null">other_ext_income = #{otherExtIncome},</if>
            <if test="extExtQuote != null">ext_ext_quote = #{extExtQuote},</if>
            <if test="extExtIncome != null">ext_ext_income = #{extExtIncome},</if>
            <if test="totalExtIncome != null">total_ext_income = #{totalExtIncome},</if>
            <if test="laborPrice != null">labor_price = #{laborPrice},</if>
            <if test="prodPrice != null">prod_price = #{prodPrice},</if>
            <if test="selfPrice != null">self_price = #{selfPrice},</if>
            <if test="impPrice != null">imp_price = #{impPrice},</if>
            <if test="otherPrice != null">other_price = #{otherPrice},</if>
            <if test="extPrice != null">ext_price = #{extPrice},</if>
            <if test="totalCost != null">total_cost = #{totalCost},</if>
            <if test="totalProfit != null">total_profit = #{totalProfit},</if>
            <if test="extProfit != null">ext_profit = #{extProfit},</if>
            <if test="costProfitRate != null">cost_profit_rate = #{costProfitRate},</if>
            <if test="extProfitRate != null">ext_profit_rate = #{extProfitRate},</if>
            <if test="totalCostProfitRate != null">total_cost_profit_rate = #{totalCostProfitRate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuoteSignInfoById" parameterType="Long">
        delete from quote_sign_info where id = #{id}
    </delete>

    <delete id="deleteQuoteSignInfoByIds" parameterType="String">
        delete from quote_sign_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>