<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.quote.mapper.QuoteOpportunitiesUnableMapper">
    
    <resultMap type="QuoteOpportunitiesUnable" id="QuoteOpportunitiesUnableResult">
        <result property="id"    column="id"    />
        <result property="opportunitiesId"    column="opportunities_id"    />
        <result property="valuationVersion"    column="valuation_version"    />
        <result property="valuationDesc"    column="valuation_desc"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectQuoteOpportunitiesUnableVo">
        select id, opportunities_id, valuation_version, valuation_desc, create_by, create_time, update_by, update_time, remark, status from quote_opportunities_unable
    </sql>

    <select id="selectQuoteOpportunitiesUnableList" parameterType="QuoteOpportunitiesUnable" resultMap="QuoteOpportunitiesUnableResult">
        <include refid="selectQuoteOpportunitiesUnableVo"/>
        <where>  
            <if test="opportunitiesId != null "> and opportunities_id = #{opportunitiesId}</if>
            <if test="valuationVersion != null  and valuationVersion != ''"> and valuation_version = #{valuationVersion}</if>
            <if test="valuationDesc != null  and valuationDesc != ''"> and valuation_desc = #{valuationDesc}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectQuoteOpportunitiesUnableById" parameterType="Long" resultMap="QuoteOpportunitiesUnableResult">
        <include refid="selectQuoteOpportunitiesUnableVo"/>
        where id = #{id}
    </select>

    <insert id="insertQuoteOpportunitiesUnable" parameterType="QuoteOpportunitiesUnable">
        insert into quote_opportunities_unable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="opportunitiesId != null">opportunities_id,</if>
            <if test="valuationVersion != null">valuation_version,</if>
            <if test="valuationDesc != null">valuation_desc,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="opportunitiesId != null">#{opportunitiesId},</if>
            <if test="valuationVersion != null">#{valuationVersion},</if>
            <if test="valuationDesc != null">#{valuationDesc},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateQuoteOpportunitiesUnable" parameterType="QuoteOpportunitiesUnable">
        update quote_opportunities_unable
        <trim prefix="SET" suffixOverrides=",">
            <if test="opportunitiesId != null">opportunities_id = #{opportunitiesId},</if>
            <if test="valuationVersion != null">valuation_version = #{valuationVersion},</if>
            <if test="valuationDesc != null">valuation_desc = #{valuationDesc},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuoteOpportunitiesUnableById" parameterType="Long">
        delete from quote_opportunities_unable where id = #{id}
    </delete>

    <delete id="deleteQuoteOpportunitiesUnableByIds" parameterType="String">
        delete from quote_opportunities_unable where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>