<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.quote.mapper.QuotePresaleInfoMapper">
    
    <resultMap type="com.internal.quote.domain.QuotePresaleInfo" id="QuotePresaleInfoResult">
        <result property="id"    column="id"    />
        <result property="opportunitiesId"    column="opportunities_id"    />
        <result property="opportunitiesParentId"    column="opportunities_parent_id"    />
        <result property="preSaleVersion"    column="pre_sale_version"    />
        <result property="prePrice"    column="pre_price"    />
        <result property="preTaxRate"    column="pre_tax_rate"    />
        <result property="preProfitRate"    column="pre_profit_rate"    />
        <result property="preSugQuote"    column="pre_sug_quote"    />
        <result property="preExtQuote"    column="pre_ext_quote"    />
        <result property="devPrice"    column="dev_price"    />
        <result property="devTaxRate"    column="dev_tax_rate"    />
        <result property="devProfitRate"    column="dev_profit_rate"    />
        <result property="devSugQuote"    column="dev_sug_quote"    />
        <result property="devExtQuote"    column="dev_ext_quote"    />
        <result property="prodPrice"    column="prod_price"    />
        <result property="prodTaxRate"    column="prod_tax_rate"    />
        <result property="prodProfitRate"    column="prod_profit_rate"    />
        <result property="prodSugQuote"    column="prod_sug_quote"    />
        <result property="prodExtQuote"    column="prod_ext_quote"    />
        <result property="otherPrice"    column="other_price"    />
        <result property="otherTaxRate"    column="other_tax_rate"    />
        <result property="otherProfitRate"    column="other_profit_rate"    />
        <result property="otherSugQuote"    column="other_sug_quote"    />
        <result property="otherExtQuote"    column="other_ext_quote"    />
        <result property="selfPrice"    column="self_price"    />
        <result property="selfTaxRate"    column="self_tax_rate"    />
        <result property="selfProfitRate"    column="self_profit_rate"    />
        <result property="selfSugQuote"    column="self_sug_quote"    />
        <result property="selfExtQuote"    column="self_ext_quote"    />
        <result property="extPrice"    column="ext_price"    />
        <result property="extTaxRate"    column="ext_tax_rate"    />
        <result property="extProfitRate"    column="ext_profit_rate"    />
        <result property="extSugQuote"    column="ext_sug_quote"    />
        <result property="extExtQuote"    column="ext_ext_quote"    />
        <result property="extProxyPrice"    column="ext_proxy_price"    />
        <result property="extProxyTaxRate"    column="ext_proxy_tax_rate"    />
        <result property="extProxyProfitRate"    column="ext_proxy_profit_rate"    />
        <result property="extProxySugQuote"    column="ext_proxy_sug_quote"    />
        <result property="extProxyExtQuote"    column="ext_proxy_ext_quote"    />
        <result property="impPrice"    column="imp_price"    />
        <result property="impTaxRate"    column="imp_tax_rate"    />
        <result property="impProfitRate"    column="imp_profit_rate"    />
        <result property="impSugQuote"    column="imp_sug_quote"    />
        <result property="impExtQuote"    column="imp_ext_quote"    />
        <result property="projProfitRateExcl"    column="proj_profit_rate_excl"    />
        <result property="projProfitRateIncl"    column="proj_profit_rate_incl"    />
        <result property="followUp"    column="follow_up"    />
        <result property="closeNote"    column="close_note"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="saleAuditDesc"    column="sale_audit_desc"    />
        <result property="unableQuoteAmount"    column="unable_quote_amount"    />
        <result property="description"    column="description"    />
        <result property="signType"    column="sign_type"    />
        <result property="xxPreQuote"    column="xx_pre_quote"    />
        <result property="xxDevQuote"    column="xx_dev_quote"    />
        <result property="xxProdQuote"    column="xx_prod_quote"    />
        <result property="xxOtherQuote"    column="xx_other_quote"    />
        <result property="xxSelfQuote"    column="xx_self_quote"    />
        <result property="xxExtQuote"    column="xx_ext_quote"    />
        <result property="xxExtProxyQuote"    column="xx_ext_proxy_quote"    />
        <result property="xxImpQuote"    column="xx_imp_quote"    />
        <result property="xxUnableQuoteAmount"    column="xx_unable_quote_amount"    />
        <result property="type"    column="type"    />
        <result property="costId"    column="cost_id"    />
    </resultMap>

    <sql id="selectQuotePresaleInfoVo">
        select id, opportunities_id, opportunities_parent_id, pre_sale_version, pre_price, pre_tax_rate, pre_profit_rate, pre_sug_quote,
               pre_ext_quote, dev_price, dev_tax_rate, dev_profit_rate, dev_sug_quote, dev_ext_quote, prod_price, prod_tax_rate, prod_profit_rate,
               prod_sug_quote, prod_ext_quote, other_price, other_tax_rate, other_profit_rate, other_sug_quote, other_ext_quote, self_price, self_tax_rate,
               self_profit_rate, self_sug_quote, self_ext_quote, ext_price, ext_tax_rate, ext_profit_rate, ext_sug_quote, ext_ext_quote,ext_proxy_price,
               ext_proxy_tax_rate, ext_proxy_profit_rate, ext_proxy_sug_quote, ext_proxy_ext_quote,imp_price, imp_tax_rate, imp_profit_rate, imp_sug_quote, imp_ext_quote, proj_profit_rate_excl, proj_profit_rate_incl, follow_up,
               close_note, create_by, create_time, update_by, update_time, remark, status, sale_audit_desc, unable_quote_amount, description,
               sign_type, xx_pre_quote, xx_dev_quote, xx_prod_quote, xx_other_quote, xx_self_quote, xx_ext_quote,xx_ext_proxy_quote, xx_imp_quote,xx_unable_quote_amount,
               type,cost_id from quote_presale_info
    </sql>

    <select id="selectQuotePresaleInfoList" parameterType="com.internal.quote.domain.QuotePresaleInfo" resultMap="QuotePresaleInfoResult">
        <include refid="selectQuotePresaleInfoVo"/>
        <where>  
            <if test="opportunitiesId != null "> and opportunities_id = #{opportunitiesId}</if>
            <if test="opportunitiesParentId != null "> and opportunities_parent_id = #{opportunitiesParentId}</if>
            <if test="preSaleVersion != null  and preSaleVersion != ''"> and pre_sale_version = #{preSaleVersion}</if>
            <if test="prePrice != null "> and pre_price = #{prePrice}</if>
            <if test="preTaxRate != null "> and pre_tax_rate = #{preTaxRate}</if>
            <if test="preProfitRate != null "> and pre_profit_rate = #{preProfitRate}</if>
            <if test="preSugQuote != null "> and pre_sug_quote = #{preSugQuote}</if>
            <if test="preExtQuote != null "> and pre_ext_quote = #{preExtQuote}</if>
            <if test="devPrice != null "> and dev_price = #{devPrice}</if>
            <if test="devTaxRate != null "> and dev_tax_rate = #{devTaxRate}</if>
            <if test="devProfitRate != null "> and dev_profit_rate = #{devProfitRate}</if>
            <if test="devSugQuote != null "> and dev_sug_quote = #{devSugQuote}</if>
            <if test="devExtQuote != null "> and dev_ext_quote = #{devExtQuote}</if>
            <if test="prodPrice != null "> and prod_price = #{prodPrice}</if>
            <if test="prodTaxRate != null "> and prod_tax_rate = #{prodTaxRate}</if>
            <if test="prodProfitRate != null "> and prod_profit_rate = #{prodProfitRate}</if>
            <if test="prodSugQuote != null "> and prod_sug_quote = #{prodSugQuote}</if>
            <if test="prodExtQuote != null "> and prod_ext_quote = #{prodExtQuote}</if>
            <if test="otherPrice != null "> and other_price = #{otherPrice}</if>
            <if test="otherTaxRate != null "> and other_tax_rate = #{otherTaxRate}</if>
            <if test="otherProfitRate != null "> and other_profit_rate = #{otherProfitRate}</if>
            <if test="otherSugQuote != null "> and other_sug_quote = #{otherSugQuote}</if>
            <if test="otherExtQuote != null "> and other_ext_quote = #{otherExtQuote}</if>
            <if test="selfPrice != null "> and self_price = #{selfPrice}</if>
            <if test="selfTaxRate != null "> and self_tax_rate = #{selfTaxRate}</if>
            <if test="selfProfitRate != null "> and self_profit_rate = #{selfProfitRate}</if>
            <if test="selfSugQuote != null "> and self_sug_quote = #{selfSugQuote}</if>
            <if test="selfExtQuote != null "> and self_ext_quote = #{selfExtQuote}</if>
            <if test="extPrice != null "> and ext_price = #{extPrice}</if>
            <if test="extTaxRate != null "> and ext_tax_rate = #{extTaxRate}</if>
            <if test="extProfitRate != null "> and ext_profit_rate = #{extProfitRate}</if>
            <if test="extSugQuote != null "> and ext_sug_quote = #{extSugQuote}</if>
            <if test="extExtQuote != null "> and ext_ext_quote = #{extExtQuote}</if>
            <if test="impPrice != null "> and imp_price = #{impPrice}</if>
            <if test="impTaxRate != null "> and imp_tax_rate = #{impTaxRate}</if>
            <if test="impProfitRate != null "> and imp_profit_rate = #{impProfitRate}</if>
            <if test="impSugQuote != null "> and imp_sug_quote = #{impSugQuote}</if>
            <if test="impExtQuote != null "> and imp_ext_quote = #{impExtQuote}</if>
            <if test="projProfitRateExcl != null "> and proj_profit_rate_excl = #{projProfitRateExcl}</if>
            <if test="projProfitRateIncl != null "> and proj_profit_rate_incl = #{projProfitRateIncl}</if>
            <if test="followUp != null "> and follow_up = #{followUp}</if>
            <if test="closeNote != null  and closeNote != ''"> and close_note = #{closeNote}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="saleAuditDesc != null  and saleAuditDesc != ''"> and sale_audit_desc = #{saleAuditDesc}</if>
            <if test="unableQuoteAmount != null "> and unable_quote_amount = #{unableQuoteAmount}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="signType != null  and signType != ''"> and sign_type = #{signType}</if>
            <if test="xxPreQuote != null "> and xx_pre_quote = #{xxPreQuote}</if>
            <if test="xxDevQuote != null "> and xx_dev_quote = #{xxDevQuote}</if>
            <if test="xxProdQuote != null "> and xx_prod_quote = #{xxProdQuote}</if>
            <if test="xxOtherQuote != null "> and xx_other_quote = #{xxOtherQuote}</if>
            <if test="xxSelfQuote != null "> and xx_self_quote = #{xxSelfQuote}</if>
            <if test="xxExtQuote != null "> and xx_ext_quote = #{xxExtQuote}</if>
            <if test="xxImpQuote != null "> and xx_imp_quote = #{xxImpQuote}</if>
        </where>
    </select>
    
    <select id="selectQuotePresaleInfoById" parameterType="Long" resultMap="QuotePresaleInfoResult">
        <include refid="selectQuotePresaleInfoVo"/>
        where id = #{id}
    </select>

    <delete id="deleteQuotePresaleInfoById" parameterType="Long">
        delete from quote_presale_info where id = #{id}
    </delete>

    <delete id="deleteQuotePresaleInfoByIds" parameterType="String">
        delete from quote_presale_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>