<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.internal.quote.mapper.QuoteEmailSettingMapper">
    
    <resultMap type="QuoteEmailSetting" id="QuoteEmailSettingResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="sender"    column="sender"    />
        <result property="senderInfo"    column="sender_info"   typeHandler="com.internal.quote.config.ListTypeHandler" />
        <result property="carbonCopyInfo"    column="carbon_copy_info"  typeHandler="com.internal.quote.config.ListTypeHandler"  />
        <result property="carbonCopy"    column="carbon_copy"    />
        <result property="emailSubject"    column="email_subject"    />
        <result property="emailTemplate"    column="email_template"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectQuoteEmailSettingVo">
        select id, type, sender, carbon_copy, sender_info, carbon_copy_info, email_subject, email_template, create_by, create_time, update_by, update_time, remark from quote_email_setting
    </sql>

    <select id="selectQuoteEmailSettingList" parameterType="QuoteEmailSetting" resultMap="QuoteEmailSettingResult">
        <include refid="selectQuoteEmailSettingVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="sender != null  and sender != ''"> and sender = #{sender}</if>
            <if test="carbonCopy != null  and carbonCopy != ''"> and carbon_copy = #{carbonCopy}</if>
            <if test="emailSubject != null  and emailSubject != ''"> and email_subject = #{emailSubject}</if>
            <if test="emailTemplate != null  and emailTemplate != ''"> and email_template = #{emailTemplate}</if>
        </where>
    </select>
    
    <select id="selectQuoteEmailSettingById" parameterType="Long" resultMap="QuoteEmailSettingResult">
        <include refid="selectQuoteEmailSettingVo"/>
        where id = #{id}
    </select>
    <select id="selectByType" resultType="com.internal.quote.domain.QuoteEmailSetting">
        select
            id, type, sender, carbon_copy, email_subject, email_template, create_by, create_time, update_by, update_time, remark
        from quote_email_setting
        <where>
            and type = #{type}
        </where>
    </select>

    <insert id="insertQuoteEmailSetting" parameterType="QuoteEmailSetting">
        insert into quote_email_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="type != null">type,</if>
            <if test="sender != null">sender,</if>
            <if test="carbonCopy != null">carbon_copy,</if>
            <if test="emailSubject != null">email_subject,</if>
            <if test="emailTemplate != null">email_template,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="type != null">#{type},</if>
            <if test="sender != null">#{sender},</if>
            <if test="carbonCopy != null">#{carbonCopy},</if>
            <if test="emailSubject != null">#{emailSubject},</if>
            <if test="emailTemplate != null">#{emailTemplate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateQuoteEmailSetting" parameterType="QuoteEmailSetting">
        update quote_email_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="sender != null">sender = #{sender},</if>
            <if test="carbonCopy != null">carbon_copy = #{carbonCopy},</if>
            <if test="emailSubject != null">email_subject = #{emailSubject},</if>
            <if test="emailTemplate != null">email_template = #{emailTemplate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuoteEmailSettingById" parameterType="Long">
        delete from quote_email_setting where id = #{id}
    </delete>

    <delete id="deleteQuoteEmailSettingByIds" parameterType="String">
        delete from quote_email_setting where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>